<div class="sb-nav-fixed">
    <app-header></app-header>
    </div>
    <div id="layoutSidenav">
        <app-nav></app-nav>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h2 class="mt-30 page-title">Customers</h2>
                    <ol class="breadcrumb mb-30">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="customers.html">Customers</a></li>
                        <li class="breadcrumb-item active">Customer Edit</li>
                    </ol>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="card card-static-2 mb-30">
                                <div class="card-title-2">
                                    <h4>Edit Customer</h4>
                                </div>
                                <div class="card-body-table">
                                    <div class="news-content-right pd-20">
                                        <div class="form-group">
                                            <label class="form-label">Name*</label>
                                            <input type="text" class="form-control" value="Joginder Singh" placeholder="Enter Full Name">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Username*</label>
                                            <input type="text" class="form-control" value="joginder" placeholder="Enter Username">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Email*</label>
                                            <input type="email" class="form-control" value="sjas1202@gmail.com" placeholder="Enter Email Address">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Phone*</label>
                                            <input type="text" class="form-control" value="+918437176189" placeholder="Enter Phone Number">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Customer Image*</label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                                                    <label class="custom-file-label" for="inputGroupFile04">Choose Image</label>
                                                </div>
                                            </div>
                                            <div class="add-customer-img">
                                                <img src="images/avatar/img-1.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Address*</label>
                                            <div class="card card-editor">
                                                <div class="content-editor">
                                                    <textarea class="text-control" value="Ludhiana, Punjab" placeholder="Enter Description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="save-btn hover-btn" type="submit">Save Changes</button>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <app-footer></app-footer>>
        </div>
    </div>