<div class="sb-nav-fixed">
    <app-header></app-header>

    <div id="layoutSidenav">
        <app-nav></app-nav>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h2 class="mt-30 page-title">Products</h2>
                    <ol class="breadcrumb mb-30">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="products.html">Products</a></li>
                        <li class="breadcrumb-item active">Add Product Price</li>
                    </ol>
                    <div class="row">                        
                        <div class="col-lg-12 col-md-12 ">
                            <div class="card card-static-2 mb-30">
                                <div class="card-title-2">
                                    <h4>Add New Product</h4>
                                </div>
                                <div class="card-body-table">
                                    <form>
                                    <div class="news-content-right pd-20">
                                        <div class="row" >
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Product ID*</label>
                                                    <input type="text" class="form-control" style="background-color: #e9ecef;" placeholder="Prduct Name with ID">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Product weight*</label>
                                                    <select id="categtory" name="categtory" class="form-control" style="background-color: #e9ecef;">
                                                        <option selected>--Select Sub Category--</option>
                                                        <option value="1">Fruits & Vegetables</option>
                                                        <option value="2">Grocery & Staples</option>
                                                        <option value="3">Dairy & Eggs</option>
                                                        <option value="4">Beverages</option>
                                                        <option value="5">Snacks</option>
                                                        <option value="6">Home Care</option>
                                                        <option value="7">Noodles & Sauces</option>
                                                        <option value="8">Personal Care</option>
                                                        <option value="9">Pet Care</option>
                                                        <option value="10">Meat & Seafood</option>
                                                        <option value="11">Electronics</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label"Sub>Product MRP*</label>
                                                    <input type="text" class="form-control" style="background-color: #e9ecef;" placeholder="Enter product MRP">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Product Sale*</label>
                                                    <input type="text" class="form-control" style="background-color: #e9ecef;" placeholder="Enter product sale Price">
                                                </div>
                                            </div>
                                        </div>
                                        <br>                                      
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="textAreaExample">Product Stock:</label>
                                                    <input type="text" class="form-control" style="background-color: #e9ecef;" placeholder="Enter prduct stock">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Status*</label>
                                                    <select id="status" name="status" class="form-control" style="background-color: #e9ecef;">
                                                        <option selected>Active</option>
                                                        <option value="1">Inactive</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div><br>
                                        
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Product Image*</label>
                                                    <div class="input-group">
                                                        <div class="custom-file">
              
                                                            <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="featureImg" ><!-- [(ngModel)]="category.featureImg" (change)="uploadFile($event)"-->
                                                            <label class="custom-file-label" for="inputGroupFile04">Choose Image</label>
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                
                                                <div class="add-cate-img">
                                                    <img [src]="" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button class="save-btn hover-btn" type="submit">Submit</button>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <app-footer></app-footer>
        </div>
    </div>
</div>