<div class="sb-nav-fixed">
    <app-header></app-header>
    <div id="layoutSidenav">
        <app-nav></app-nav>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <ol class="breadcrumb mb-10">
                        <li class="breadcrumb-item"><a href="/home">Dashboard</a></li>
                        <li class="breadcrumb-item active">Orders</li>
                    </ol>
                    <div class="row">
                        <div class="col-md-1">
                            <h2 class="page-title">Orders:</h2> 
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <select id="categeory" name="categeory" class="form-control" [(ngModel)]="status" (change)="onChange()">
                                    <option value="1">New Orders</option>                                   
                                    <option value="2">Processing</option>
                                    <option value="3">Closed</option>
                                    <option value="4">Canceled</option>
                                </select>                                
                            </div>                         
                        </div>
                    </div>                    
                    <div class="row justify-content-between">
                        <div [ngSwitch]="status">  
                            <div *ngSwitchCase="1"><app-new-orders></app-new-orders></div>  
                            <div *ngSwitchCase="2"><app-processing-orders></app-processing-orders></div>  
                            <div *ngSwitchCase="3"><app-closed-orders></app-closed-orders></div>  
                            <div *ngSwitchCase="4"><app-canceled-orders></app-canceled-orders></div>
                        </div> 
                    </div>
                </div>
            </main>
           <app-footer></app-footer>
        </div>
    </div>
</div>