<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<a class="nav-link active" href="index.html">
							<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
							Dashboard
						</a>
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
							aria-expanded="false" aria-controls="collapseLayouts">
							<div class="sb-nav-link-icon"><i class="fas fa-newspaper"></i></div>
							Posts
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
							data-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link sub_nav_link" routerLink="posts">All Posts</a>
								<a class="nav-link sub_nav_link" routerLink="add-post">Add New</a>
								<a class="nav-link sub_nav_link" routerLink="categories">Categories</a>
								<!-- <a class="nav-link sub_nav_link" roterLink="posts">Tags</a> -->
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLocations"
							aria-expanded="false" aria-controls="collapseLocations">
							<div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
							Locations
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapseLocations" aria-labelledby="headingTwo"
							data-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link sub_nav_link" routerLink="locations">All Locations</a>
								<a class="nav-link sub_nav_link" routerLink="add-location" >Add Location</a>
								<!-- <a class="nav-link sub_nav_link" href="add_location.html">Add Location</a> -->
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAreas"
							aria-expanded="false" aria-controls="collapseAreas">
							<div class="sb-nav-link-icon"><i class="fas fa-map-marked-alt"></i></div>
							Areas
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapseAreas" aria-labelledby="headingTwo"
							data-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link sub_nav_link" routerLink="areas">All Areas</a>
								<a class="nav-link sub_nav_link" routerLink="add-area">Add Area</a>
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategories"
							aria-expanded="false" aria-controls="collapseCategories">
							<div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
							Categories
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapseCategories" aria-labelledby="headingTwo"
							data-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link sub_nav_link" routerLink="category">All Categories</a>
								<a class="nav-link sub_nav_link" routerLink="add_category">Add Category</a>
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseShops"
							aria-expanded="false" aria-controls="collapseShops">
							<div class="sb-nav-link-icon"><i class="fas fa-store"></i></div>
							Shops
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapseShops" aria-labelledby="headingTwo"
							data-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link sub_nav_link" routerLink="shops">All Shops</a>
								<a class="nav-link sub_nav_link" routerLink="#">Add Shop</a>
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts"
							aria-expanded="false" aria-controls="collapseProducts">
							<div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
							Products
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapseProducts" aria-labelledby="headingTwo"
							data-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link sub_nav_link" routerLink="products">All Products</a>
								<a class="nav-link sub_nav_link" routerLink="add-product">Add Product</a>
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomers"
							aria-expanded="false" aria-controls="collapseCustomers">
							<div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
							Customers
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapseCustomers" aria-labelledby="headingTwo"
							data-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link sub_nav_link" routerLink="customers">All Customers</a>
								<a class="nav-link sub_nav_link" routerLink="sub-users-list">All Sub Users</a>
							</nav>
						</div>
						<a class="nav-link" routerLink="orders">
							<div class="sb-nav-link-icon"><i class="fas fa-cart-arrow-down"></i></div>
							Orders
						</a>
						<a class="nav-link" routerLink="customers">
							<div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
							Customers
						</a>
						<a class="nav-link" routerLink="offers">
							<div class="sb-nav-link-icon"><i class="fas fa-gift"></i></div>
							Offers
						</a>
						<!-- <a class="nav-link" routerLink="#">
							<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
							Pages
						</a>
						<a class="nav-link" routerLink="#">
							<div class="sb-nav-link-icon"><i class="fas fa-layer-group"></i></div>
							Menu
						</a>
						<a class="nav-link" routerLink="#">
							<div class="sb-nav-link-icon"><i class="fas fa-cloud-upload-alt"></i></div>
							Updater
						</a> -->
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings"
							aria-expanded="false" aria-controls="collapseSettings">
							<div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
							Setting
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapseSettings" aria-labelledby="headingTwo"
							data-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link sub_nav_link" routerLink="general">General Settings</a>
								<a class="nav-link sub_nav_link" routerLink="payment">Payment Settings</a>
								<a class="nav-link sub_nav_link" routerLink="email">Email Settings</a>
							</nav>
						</div>
						<a class="nav-link" routerLink="#">
							<div class="sb-nav-link-icon"><i class="fas fa-chart-bar"></i></div>
							Reports
						</a>
					</div>
				</div>
			</nav>
		</div>