<div class="sb-nav-fixed">
    <app-header></app-header>
    <div id="layoutSidenav">
        <app-nav></app-nav>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h2 class="mt-30 page-title">Categories</h2>
                    <ol class="breadcrumb mb-30">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="category.html">Categories</a></li>
                        <li class="breadcrumb-item active">Add Category</li>
                    </ol>
                    <div class="row">
                        <div class="col-lg-9 col-md-9">
                            <div class="card card-static-2 mb-30">
                                <div class="card-title-2">
                                    <h4>Add New Category</h4>
                                </div>
                                <form #catForm="ngForm" (ngSubmit)="createCategory(catForm)" novalidate enctype="multipart/form-data" >
                                    
                                    <fieldset class="form-group">
                                        <!-- [ngClass]="{ 'has-error': regForm.submitted && !user_id.valid }"-->
                                        <label class="form-label">Name*</label>
                                        <input type="text" class="form-control" placeholder="Category Name" name="categoryName" [(ngModel)]="category.categoryName">
                                        <!-- [(ngModel)]="user.user_id" name="user_id" #user_id="ngModel"
                                            [ngClass]="{'is-invalid':regForm.submitted && user_id.invalid}" required />
                                        <div *ngIf="user_id.invalid && (user_id.dirty || user_id.touched)" class="alert alert-danger">
                                            <div *ngIf="user_id.errors.required">user_id is required. </div>
                                        </div> -->
                                    </fieldset>

                                    <fieldset class="form-group">
                                        <label class="form-label">Status*</label>
                                        <select id="status" name="status" class="form-control" [(ngModel)]="category.status">
                                            <option Value ="1" selected>Active</option>
                                            <option value="0">Inactive</option>
                                        </select>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label class="form-label">Category Image*</label>
                                        <div class="input-group">
                                            <div class="custom-file">
  
                                                <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="featureImg" [(ngModel)]="category.featureImg" (change)="uploadFile($event)">
                                                <label class="custom-file-label" for="inputGroupFile04">Choose Image</label>
                                            </div>
                                        </div>
                                        <div class="add-cate-img">
                                            <img [src]="url" alt="">
                                        </div>
                                        <!-- <label class="form-label">Category Image*</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile04" name="featureImg"
                                                    aria-describedby="inputGroupFileAddon04" [(ngModel)]="category.featureImg">
                                                <label class="custom-file-label" for="inputGroupFile04">Choose
                                                    Image</label>
                                            </div>
                                        </div> -->

                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label class="form-label">Description*</label>
                                        <!-- <div class="card card-editor">
                                                <div class="content-editor"> -->
                                        <textarea class="text-control" name ="description" placeholder="Enter Description" [(ngModel)]="category.description"></textarea>
                                        <!-- </div>
                                            </div> -->
                                    </fieldset>
                                    
                                    <button class="save-btn hover-btn" type="submit" [disabled]="!catForm.valid">Add New Category</button>
                                    <!-- </div> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <app-footer></app-footer>
        </div>
    </div>
</div>