<div class="sb-nav-fixed">
    <app-header></app-header>

    <div id="layoutSidenav">
        <app-nav></app-nav>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h2 class="mt-30 page-title">Setting</h2>
                    <ol class="breadcrumb mb-30">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Email Setting</li>
                    </ol>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="card card-static-2 mb-30">
                                <div class="card-title-2">
                                    <h4>Email Setting</h4>
                                </div>
                                <div class="card-body-table">
                                    <div class="news-content-right pd-20">
                                        <div class="form-group">
                                            <label class="form-label">SMTP Host*</label>
                                            <input type="text" class="form-control" placeholder="mail.host.com">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">SMTP Username*</label>
                                            <input type="text" class="form-control" placeholder="username">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">SMTP Password*</label>
                                            <input type="text" class="form-control" placeholder="password">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">SMTP Encryption (tls/ssl)*</label>
                                            <input type="text" class="form-control" placeholder="tls">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">SMTP Port*</label>
                                            <input type="text" class="form-control" placeholder="465">
                                        </div>
                                        <button class="save-btn hover-btn" type="submit">Save Changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
           <app-footer></app-footer>
        </div>
    </div>
</div>